.btn-primary {
  background: #36C154;
  padding: 12px 60px;
  color: white;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

.btn-primary:hover {
  background: #57D172;
}
